-e git://github.com/ulrobix/sphinxcontrib-contentui.git#egg=sphinxcontrib-contentui
# For fancy 404 pages
git+https://github.com/rtfd/sphinx-notfound-page@master#egg=sphinx-notfound-page
# For UML
-e git://github.com/sphinx-contrib/plantuml.git#egg=sphinxcontrib-plantuml
# Fix Toctree error https://github.com/readthedocs/readthedocs.org/issues/8070 add latest versions sphinx & sphinx_rtd_theme
sphinx_rtd_theme==0.5.2
sphinx==3.5.3