/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }
   
   .wy-nav-content {
    max-width: 1200px !important;
}
   
   .wy-side-nav-search {background-color: #32a55c}

   .wy-table-responsive {
      overflow: visible !important;
   }
}

  /* Navigation headers */ 
   .wy-menu-vertical header,
   .wy-menu-vertical p.caption {color: #32a55c}


/* Colors and text decoration.
 For example, :black:`text in black` or :blink:`text blinking` in rST.
 В общем сначала на странице прописываем руками роли а потом уже вызываем внутри текста, например :red:`красный текст`. Роли:
 .. role:: black
.. role:: gray
.. role:: grey
.. role:: silver
.. role:: white
.. role:: maroon
.. role:: red
.. role:: magenta
.. role:: fuchsia
.. role:: pink
.. role:: orange
.. role:: yellow
.. role:: lime
.. role:: green
.. role:: olive
.. role:: teal
.. role:: cyan
.. role:: aqua
.. role:: blue
.. role:: navy
.. role:: purple

.. role:: under
.. role:: over
.. role:: blink
.. role:: line
.. role:: strike

.. role:: it
.. role:: ob

.. role:: small
.. role:: large

.. role:: center
.. role:: left
.. role:: right*/

.black {
   color: black;
}

.gray {
   color: gray;
}

.peachpuff {
   color: peachpuff;
}

.silver {
   color: silver;
}

.white {
   color: white;
}

.maroon {
   color: maroon;
}

.red {
   color: red;
}

.magenta {
   color: magenta;
}

.fuchsia {
   color: fuchsia;
}

.pink {
   color: pink;
}

.orange {
   color: orange;
}

.yellow {
   color: yellow;
}

.lime {
   color: lime;
}

.green {
   color: green;
}

.olive {
   color: olive;
}

.teal {
   color: teal;
}

.cyan {
   color: cyan;
}

.aqua {
   color: aqua;
}

.blue {
   color: blue;
}

.navy {
   color: navy;
}

.purple {
   color: purple;
}

.beige {
   color: beige;
}

.under {
   text-decoration: underline;
}

.over {
   text-decoration: overline;
}

.blink {
   text-decoration: blink;
}

.line {
   text-decoration: line-through;
}

.strike {
   text-decoration: line-through;
}

.it {
   font-style: italic;
}

.ob {
   font-style: oblique;
}

.small {
   font-size: small;
}

.large {
   font-size: large;
}

.smallpar {
   font-size: small;
}

/* Подчеркивание текста underline text
 В общем сначала на странице прописываем руками ролm а потом уже вызываем внутри текста, например :underline:`This text is underlined`*/

 .underline {
   text-decoration: underline;
 } 

/* Это для кнопки "Scroll To top" */
#topchik {
   position: fixed;
   bottom: 20px;
   right: 45px;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   width: 50px;
   height: 50px;
   display: block;
   text-decoration: none;
   -webkit-border-radius: 35px;
   -moz-border-radius: 35px;
   border-radius: 35px;
   display: none;
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
#topchik i {
   color: #fff;
   margin: 0;
   position: relative;
   left: 16px;
   top: 13px;
   font-size: 19px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
#topchik:hover {
   background: rgba(0, 0, 0, 0.9);
}
#topchik:hover i {
   color: #fff;
   top: 5px;
}

/* Для того, чтобы скрыть уродскую панель слева снизу */
.rst-versions {
   display: none;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 300px;
   color: #fcfcfc;
   background: #1f1d1d;
   font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
   z-index: 400;
}

   /* попытка сделать Галагу на 404 страницу - можно удалять - не используется */
   
.center{text-align:center}
   #space-invaders {
   margin: 0 auto;
   display: block;
   background: white
}

/* toaster 404 страничка */

.ag-format-container {
   width: 1142px;
   margin: 0 auto;
 }
 
 .js-ag-hide {
   display: none;
 }
 
 .ag-page-404 {
   padding: 100px 0 0;
   background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/toaster-bg.png) no-repeat 50% 100%;
 }
 
 .ag-canvas-404_img {
   display: none;
 }
 .ag-canvas-404 {
   opacity: .7;
   filter: alpha(opacity=70);
 
   z-index: -1;
   position: absolute;
   left: 0;
   top: 0;
 }
 
 .ag-toaster-wrap {
   display: table;
   margin: 0 auto;
   padding: 200px 0 0;
 
   position: relative;
 }
 .ag-toaster {
   width: 340px;
   height: 217px;
 
   position: relative;
 }
 .ag-toaster_toast-handler {
   width: 155px;
   height: 200px;
   margin-left: 85px;
   padding-top: 60px;
 
   overflow: hidden;
 
   z-index: 1;
   position: absolute;
   top: -150px;
 }
 .ag-toaster_shadow {
   width: 165px;
   height: 9px;
   background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/sprite-toaster.png) -340px -195px no-repeat;
 
   position: absolute;
   left: 0;
   bottom: 91px;
 }
 .ag-toaster_toast {
   width: 159px;
   height: 171px;
   background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/sprite-toaster.png) -340px 0 no-repeat;
 
   z-index: -1;
   position: relative;
 }
 .ag-toaster_front {
   width: 340px;
   height: 217px;
   background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/sprite-toaster.png) 0 -18px no-repeat;
 
   z-index: 2;
   position: relative;
 }
 .ag-toaster_lever {
   width: 22px;
   height: 21px;
   background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/sprite-toaster.png) -340px -171px no-repeat;
 
   position: absolute;
   top: 75px;
   right: 12px;
 }
 .ag-toaster_back {
   width: 340px;
   height: 18px;
   background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/sprite-toaster.png) no-repeat;
 
   z-index: -3;
   position: relative;
 }
 
 @-webkit-keyframes an-bounce-in-up {
   0% {
     opacity: 0;
 
     -webkit-transform: translateY(2000px);
     transform: translateY(2000px);
   }
   60% {
     opacity: 1;
 
     -webkit-transform: translateY(-20px);
     transform: translateY(-20px);
   }
   80% {
     -webkit-transform: translateY(5px);
     transform: translateY(5px);
   }
   100% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
   }
 }
 
 @-moz-keyframes an-bounce-in-up {
   0% {
     opacity: 0;
 
     -moz-transform: translateY(2000px);
     transform: translateY(2000px);
   }
   60% {
     opacity: 1;
 
     -moz-transform: translateY(-20px);
     transform: translateY(-20px);
   }
   80% {
     -moz-transform: translateY(5px);
     transform: translateY(5px);
   }
   100% {
     -moz-transform: translateY(0);
     transform: translateY(0);
   }
 }
 
 @-ms-keyframes an-bounce-in-up {
   0% {
     opacity: 0;
     filter: alpha(opacity=0);
 
     -ms-transform: translateY(2000px);
     transform: translateY(2000px);
   }
   60% {
     opacity: 1;
     filter: alpha(opacity=100);
 
     -ms-transform: translateY(-20px);
     transform: translateY(-20px);
   }
   80% {
     -ms-transform: translateY(5px);
     transform: translateY(5px);
   }
   100% {
     -ms-transform: translateY(0);
     transform: translateY(0);
   }
 }
 
 @-o-keyframes an-bounce-in-up {
   0% {
     opacity: 0;
 
     -o-transform: translateY(2000px);
     transform: translateY(2000px);
   }
   60% {
     opacity: 1;
 
     -o-transform: translateY(-20px);
     transform: translateY(-20px);
   }
   80% {
     -o-transform: translateY(5px);
     transform: translateY(5px);
   }
   100% {
     -o-transform: translateY(0);
     transform: translateY(0);
   }
 }
 
 @keyframes an-bounce-in-up {
   0% {
     opacity: 0;
     filter: alpha(opacity=0);
     -webkit-transform: translateY(2000px);
     -moz-transform: translateY(2000px);
     -ms-transform: translateY(2000px);
     -o-transform: translateY(2000px);
     transform: translateY(2000px);
   }
   60% {
     opacity: 1;
     filter: alpha(opacity=100);
     -webkit-transform: translateY(-20px);
     -moz-transform: translateY(-20px);
     -ms-transform: translateY(-20px);
     -o-transform: translateY(-20px);
     transform: translateY(-20px);
   }
   80% {
     -webkit-transform: translateY(5px);
     -moz-transform: translateY(5px);
     -ms-transform: translateY(5px);
     -o-transform: translateY(5px);
     transform: translateY(5px);
   }
   100% {
     -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
     -ms-transform: translateY(0);
     -o-transform: translateY(0);
     transform: translateY(0);
   }
 }
 
 .js-ag-animated {
   -webkit-animation-duration: .6s;
   -moz-animation-duration: .6s;
   -ms-animation-duration: .6s;
   -o-animation-duration: .6s;
   animation-duration: .6s;
 
   -webkit-animation-fill-mode: both;
   -moz-animation-fill-mode: both;
   -ms-animation-fill-mode: both;
   -o-animation-fill-mode: both;
   animation-fill-mode: both;
 }
 .js-ag-bounce-in-up {
   -webkit-animation-name: an-bounce-in-up;
   -moz-animation-name: an-bounce-in-up;
   -ms-animation-name: an-bounce-in-up;
   -o-animation-name: an-bounce-in-up;
   animation-name: an-bounce-in-up;
 }
 
 @media only screen and (max-width: 767px) {
   .ag-format-container {
     width: 96%;
   }
 
 }
 
 @media only screen and (max-width: 639px) {
 
 }
 
 @media only screen and (max-width: 479px) {
 
 }
 
 @media (min-width: 768px) and (max-width: 979px) {
   .ag-format-container {
     width: 750px;
   }
 
 }
 
 @media (min-width: 980px) and (max-width: 1161px) {
   .ag-format-container {
     width: 960px;
   }
 
 }
 

/**
 Это для кнопки а-ля Show / Hide (сворачивать текст)
 */
 .toggle-tab {
   margin-bottom: 40px;
}

.toggle-header {
   display: block;
   clear: both;
   cursor: pointer;
}
.toggle-header p {display: inline; }
.toggle-header strong {color: #2980b9 }

.toggle-header:after {
   content: " ▼";
}

.toggle-header.open:after {
   content: " ▲";
}

.toggle-content {
   display: none;
   margin-bottom: 20px;
}
